body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.5;
    color: #333;
    margin: 0;
}
#main{
    background-color: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    font-size: 3rem;
    margin-bottom: 0;
}
#img-div{
    background-color: white;
    padding: 20px;
    margin: 10px;

}
#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
#img-caption{
    margin: 15px 0 5px 0;
    font-size: 0.75rem;
    max-width: 800px;
    margin: auto;
}

ul{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
}

blockquote{
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
    font-style: italic;
    text-align: left;
}

#tribute-link {
    text-decoration: none;
}